.news-container {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  width: 100%;
  height: 655px;
  justify-content: space-around;
}
.main-news {
  display: flex;
  height: 100%;
  width: 50%;
  margin-top: 10px;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 5px;
  padding: 10px;
}

.main-news-img {
  display: flex;
  max-height: 538px;
  width: 100%;
}
.main-news-img a img {
  display: flex;
  max-height: 538px;
  width: 100%;
  cursor: pointer;
}

.main-news-img:hover {
  opacity: 0.8;
}
.main-news-title {
  font-weight: bold;
  font-size: 1.5rem;
}
.main-news-title a:hover {
  color: var(--spiro-disco-ball);
  cursor: pointer;
}
.dark-mode .main-news,
.dark-mode .trending-news {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.trending-news {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  padding: 10px;
  height: 100%;
  width: 30%;
  background-color: var(--white);
  border-radius: 5px;
}
.trending-header {
  margin-bottom: 1rem;
}

.trending-header a {
  font-size: 2rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.trending-header a:hover {
  color: var(--spiro-disco-ball);
}

.row-list {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
}
.row-list-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  gap: 1rem;
}

.row-list-item a img {
  width: 219px;
  max-height: 150px;
}
.trending-news a:hover {
  color: var(--spiro-disco-ball);
  cursor: pointer;
}

.title-trending {
  display: flex;
  word-wrap: break-word;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  width: 100%;
}

.img-trending {
  display: flex;
  width: 219px;
  height: 150px;
}

.img-trending:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .news-container {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .trending-news {
    width: 100%;
    margin-top: 20px;
  }

  .main-news {
    width: 100vw;
    height: auto;
  }
  .row-list-item {
    width: 100vw;
  }
}
