.bar-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  top: 0;
  background: var(--background-color-light);
  color: var(--text-color-light);
  height: 60px;
  border-bottom: solid 6px var(--black);
  z-index: 999;
}
.bar {
  width: 100vw;
  height: 25px;
}
.navi-bar-start {
  display: flex;
  width: 100px;
  justify-content: center;
}
.navi-bar-start img {
  height: 48px;
  padding: 5px;
}
.navi-bar {
  display: flex;
  align-items: center;
}
.navi-bar a {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  font: bold;
}
.navi-bar a:hover {
  color: var(--spiro-disco-ball);
}
.navi-bar li:hover {
  display: block;
}
.navi-bar-end {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: flex-end;
  margin-right: 3px;
  gap: 40px;
}
.icon2 {
  height: 30px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navi-bar {
    display: none;
  }
  .bar-container {
    width: 100vw;
  }
  .navi-bar-end {
    gap: 9px;
    width: 50px;
  }
}
