.Bar-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  top: 0;
  background: var(--white);
  height: 60px;
  border-bottom: solid 2px var(--black);
  z-index: 999;
}
.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.bar {
  width: 100vw;
  height: 25px;
}
.navi-bar-start {
  display: flex;
  width: 100px;
  justify-content: center;
}
.navi-bar-start img {
  height: 48px;
  padding: 5px;
}

.navi-bar {
  display: flex;
  align-items: center;
}
.navi-bar a {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  font: bold;
}
.navi-bar a:hover {
  color: var(--SpiroDiscoBall);
}
.navi-bar a.explore-arrow:after {
  content: "▼";
  color: var(--red);
  margin-left: 3px;
  margin-top: 6px;
  font-size: 8px;
}
.dropdown-block a:hover {
  background-color: var(--SpiroDiscoBall);
}
.explore-dropdown {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 236px;
  z-index: -1;
  padding-bottom: 24px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  background: var(--white);
  width: 100%;
  height: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.dropdown-block {
  border-right: solid 2px var(--black);
}
.navi-bar li:hover {
  display: block;
}

.navi-bar-end {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: flex-end;
  margin-right: 3px;
  gap: 40px;
}

.icon2 {
  height: 30px;
  cursor: pointer;
}

.line-1 {
  height: 1px;
  background-color: var(--black);
  width: 30px;
  margin: 5px;
}
@media screen and (max-width: 768px) {
  .hamburger-menu {
    display: flex;
    width: 50px;
  }
  .navi-bar {
    display: none;
  }
}
