.latest-all-container {
  height: auto;
  width: 100vw;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 3rem;
}

.latest-all-container a:hover {
  color: var(--spiro-disco-ball);
}
.latest-all-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.latest-all-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.all-item {
  display: flex;
  flex-direction: column;
  width: 33.3333%;
  height: 450px;
  justify-content: space-between;
}
.img-all {
  width: 100%;
  max-width: inherit;
  height: 212px;
}
.img-all img {
  display: flex;
  height: 211px;
  width: 400px;
  object-fit: cover;
}

.title-all {
  width: 400px;
}

.latest-all-btn {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 50%;
  align-items: center;
  cursor: pointer;
  border: solid 3px var(--spiro-disco-ball);
}
.latest-all-btn:hover {
  background-color: var(--spiro-disco-ball);
}

@media screen and (max-width: 768px) {
  .latest-all-container {
    width: 100vw;
    margin-left: 0.1rem;
  }
  .latest-all-item-container {
    flex-direction: column;
    width: inherit;
  }
  .all-item {
    width: 300px;
  }
  .img-all img {
    width: 390px;
  }
  .title-all {
    width: 100vw;
  }
  .all-header,
  .all-header h2 {
    font-size: 2rem;
    justify-content: center;
  }
}
